table {
  width: 100%;
  max-height: calc(90%);
  table-layout: fixed;
}


.container {
  height: 100%;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 10px;
}

.mat-title {
  padding-left: 16px;
  box-sizing: border-box;
}

.box {
  position: relative;
  border-radius: 5px;
  height: calc(90%);
}
.table-wrapper {
  position: relative;
  border-radius: 5px;
  height: calc(90%);
  overflow: auto;
}
